<header class="header" role="banner">
  <div class="header-inner">
    <div class="logo">
      {{#link 'help_center' class='logo-link'}}
        {{#if settings.logo}}
          <img src="{{settings.logo}}" alt="{{help_center.name}}">
        {{else}}
          <span class="logo-text">{{help_center.name}}</span>
        {{/if}}
      {{/link}}
    </div>

    <nav class="header-nav">
      {{#if signed_in}}
        <span class="nav-link user-info">{{user_name}}</span>
        {{link 'sign_out' class='nav-link'}}
      {{else}}
        {{#link 'new_request' class='nav-link submit-a-request'}}Submit a request{{/link}}
        {{#link 'sign_in' class='sign-in'}}Sign in{{/link}}
      {{/if}}
    </nav>
  </div>
</header>
